.discover {
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.text {
    padding-left: 1rem;
}

.age_text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.location_text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.age_slide {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1rem;
}
.looking_for {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    border-bottom: 1px solid lightgrey;
}

.location_slide {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-bottom: 1px solid lightgrey;
}

.slider {
    width: 86%
}

.location_fill {
    display: flex;
    padding-right: 2rem;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: none;
    justify-content: space-between;
}


.input_autofill {
    line-height: 0.5rem !important;
    width: 100%;
}

.autofill {
    position: relative;
}

.autofill_info{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.autocomplete-dropdown-container {
    font-size: 1rem;
    position: absolute;
    top: auto;
    border: 1px solid lightgrey;
    z-index: 1;
}

.autofill_option {
    padding: 0.4rem;
}

.autocomplete-dropdown-container:hover {
    cursor: point;
}